@model WebsiteSkills.Models.Recurso

@{
    ViewData["Title"] = "Detalhes";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-body">
                    <h1 class="text-center" style="font-size: 2.75rem; font-family: 'Verdana', sans-serif; margin-top: 4rem;">@ViewData["Title"]</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3 font-weight-bold">Nome do Recurso</dt>
                        <dd class="col-sm-9">@Model.NomeRecurso</dd>

                        <dt class="col-sm-3 font-weight-bold">Conteúdo do Recurso</dt>
                        <dd class="col-sm-9">
                            @if (Model.TipoRecurso == "Imagem")
                            {
                                <img src="~/FicheirosRecursos/@Model.ConteudoRecurso"
                                     alt="Imagem referente a @Model.NomeRecurso"
                                     title="@Model.NomeRecurso"
                                     class="img-fluid" style="max-width: 100%; height: auto;" />
                            }
                            else if (Model.TipoRecurso == "PDF")
                            {
                                <div class="embed-responsive embed-responsive-4by3">
                                    <object data="~/FicheirosRecursos/@Model.ConteudoRecurso" type="application/pdf" class="embed-responsive-item" style="width: 100%; height: 600px;">
                                        <p>Seu navegador não suporta visualização de PDF. Você pode <a href="~/FicheirosRecursos/@Model.ConteudoRecurso" target="_blank">baixar o arquivo</a> manualmente.</p>
                                    </object>
                                </div>
                            }
                            else
                            {
                                <p>@Model.ConteudoRecurso</p>
                            }
                        </dd>

                        <dt class="col-sm-3 font-weight-bold">Tipo de Recurso</dt>
                        <dd class="col-sm-9">@Model.TipoRecurso</dd>

                        <dt class="col-sm-3 font-weight-bold">Skill</dt>
                        <dd class="col-sm-9">@Model.Skill.Nome</dd>
                    </dl>
                </div>
            </div>

            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model?.IdRecurso" class="btn btn-dark mx-2">Editar</a>
                <a asp-action="Index" class="btn btn-secondary mx-2">Voltar à lista de Recursos</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
