@model IEnumerable<WebsiteSkills.Models.Recurso>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar novo Recurso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeRecurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoRecurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRecurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRecurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoRecurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRecurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRecurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRecurso">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRecurso">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
