@model IEnumerable<WebsiteSkills.Models.SkillViewModel>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
    <a asp-action="Create">Criar nova Skill</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Skill.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill.Dificuldade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill.Tempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill.Descricao)
            </th>              
            <th> 
                @Html.DisplayNameFor(model => model.Skill.Custo)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Skill.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Skill.Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Skill.Dificuldade)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Skill.Tempo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Skill.Descricao)
            </td>            
            <td>
                    @Html.DisplayFor(modelItem => item.Skill.Custo)
            </td>
            <td>
                    <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Skill.Imagem)"
                         alt="Imagem referente a @Html.DisplayFor(modelItem => item.Skill.Nome)"
                         title="@Html.DisplayFor(modelItem => item.Skill.Nome)"
                         width="150px" />
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <text>
                            <a asp-action="Details" asp-route-id="@item.Skill.SkillsId">Detalhes</a>
                            <a asp-action="Recursos" asp-route-id="@item.Skill.SkillsId">Recursos</a>
                            @if (User.IsInRole("Mentor"))
                            {
                                <text>
                                    |
                                    <a asp-action="Edit" asp-route-id="@item.Skill.SkillsId">Editar</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Skill.SkillsId">Apagar</a> |
                                    <a asp-action="AdicionarSkillsMentores" asp-route-id="@item.Skill.SkillsId">Adicionar à lista de Skills</a>
                                </text>
                            }

                            @if (User.IsInRole("Aluno") && !item.IsSubscribed)
                            {
                                <text>
                                    <a asp-action="Checkout" asp-route-id="@item.Skill.SkillsId">Subscrever</a>
                                </text>
                            }
                        </text>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
