@model IEnumerable<WebsiteSkills.Models.SkillViewModel>

@{
    ViewData["Title"] = "Índice";
}

<h1 class="text-center" style="font-size: 2.75rem; font-family: 'Verdana', sans-serif;">Skills</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
    {
        <a asp-action="Create" class="btn btn-dark">Criar Nova Skill</a>
    }
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a asp-action="Details" asp-route-id="@item.Skill.SkillsId">
                        <img src="~/Imagens/@item.Skill.Imagem"
                             class="card-img-top"
                             alt="Imagem referente a @item.Skill.Nome"
                             title="@item.Skill.Nome" style="height: 300px; object-fit: cover;" />
                    </a>

                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Skill.Nome</h5>
                        <p class="card-text"><small>@item.Skill.Descricao</small></p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="d-flex justify-content-center flex-wrap">
                                <a asp-action="Recursos" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Recursos</a>
                                @if (User.IsInRole("Mentor") || User.IsInRole("Administrador"))
                                {
                                    <a asp-action="AdicionarSkillsMentores" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Adicionar à lista de Skills</a>
                                    <a asp-action="Anuncios" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Anuncios</a>
                                    <a asp-action="CriarAnuncios" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Criar Anuncios</a>
                                }
                                @if ((User.IsInRole("Aluno") && !item.IsSubscribed) || User.IsInRole("Administrador"))
                                {
                                    <a asp-action="Checkout" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Subscrever</a>
                                }
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Editar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Skill.SkillsId" class="btn btn-secondary btn-sm mx-2 my-2">Apagar</a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
